@import './assets/scss/all';

html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #f9f9fc;
    font-family: 'Roboto', sans-serif;
}

[class^=ais-] {
    font-size: 14px;
}

header {
    width: 100%;
    height: $headerHeight;
    background: $colorMain;
    position: fixed;
    top: 0;
    z-index: 200;
    color: #ffffff;
    font-size: 14px;
    text-align: center;

    h1 {
        padding-top: 10px;
        font-size: 16px;
        display: inline-block;
    }

    div {
        height: $headerHeight;

        &.leftGroup {
            margin-left: 10px;
            float: left;
        }

        &.rightGroup {
            margin-right: 10px;
            float: right;
        }

        div, a {
            padding: 10px;
            display: inline-block;
            color: $colorText;
            text-decoration: none;
            cursor: pointer;

            &:hover, &:focus {
                color: $colorText;
            }
        }
    }
}
